* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main-header{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 20px 20px 20px;
    
    background-color: black;
}

.navbar-items {
    list-style:none;
}

.navbar-item {
    display: inline-block;
    margin-left: 50px;
}
.navbar-item a {
    text-decoration: none;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
}

.header-title {
    width: 100%;
}

.header-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 100%;
    background-image: url('/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.picture-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.733);
    height: 200px;
    padding: 5px;
    width: calc(100% - 700px);
    color: white;

}
.picture-content h1,h3{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.header-picture h1 {
    font-size: 90px;
}

.header-picture h3 {
    font-size: 30px;
}


#about {
    margin: 300px 0 0 0 ;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.about-header h1 {
   font-family: "Montserrat", sans-serif;
   font-size: 100px;
   text-decoration: underline;
   text-overflow: ellipsis;
   text-underline-position: under;
   font-weight: 600;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
}

.about-picture {
    height: 300px;
    margin: 5px;
    width: calc(100% - 650px);
    border-radius: 600px;
    background-image: url('/img/profile.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}


.about-content p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    overflow-wrap: break-word;
    text-align: center;
    
}